@import url("https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Life+Savers:wght@400;700;800&display=swap");

html {
  width: 100%;
  overflow-x: hidden;
  position: fixed;
}

body,
.background {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #003e1f; /* Fundo verde escuro, lembrando uma floresta de pinheiros à noite */
  background-image: url("header.png"); /* Adiciona árvores cobertas de neve e um céu estrelado */
  background-size: cover, cover;
  background-position: center bottom, center top;
  background-repeat: no-repeat, repeat;
}

.message {
  font-family: "Life Savers", cursive; /* Fonte com estilo de luzes de neon */
  font-size: 2.5rem;
  font-weight: 400; /* Using the bolder weight available for Codystar */
  color: #ffd700; /* Amarelo dourado para simular luzes de Natal */
  text-shadow: 0 0 5px #ffffba, /* Brilho suave amarelo */ 0 0 10px #ffffba,
    /* Brilho médio */ 0 0 20px #ffffba, /* Brilho intenso */ 0 0 30px #87c38f,
    /* Brilho verde claro */ 0 0 40px #87c38f; /* Brilho verde mais intenso */
  text-align: center; /* Centraliza o texto */
}

.snowflake {
  color: #ffffff; /* Cor branca para os flocos de neve */
  pointer-events: none; /* Permite clique através dos flocos */
  user-select: none; /* Evita seleção do texto */
}

#snow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 999; /* Atrás dos flocos de neve, mas acima do conteúdo da página */
}


footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px; /* Reduzido para melhor ajuste em telas menores */
}

#logo1, #logo2, #logo3, #logo4, #logo5, #logo6 {
  max-height: 30vh; /* Usa uma porcentagem da altura da tela para dimensionar os logotipos */
  margin: 5px; /* Espaçamento reduzido para economizar espaço */
  width: auto; /* Mantém a proporção dos logotipos */
}

/* Ajustes para visibilidade em dispositivos móveis */
@media (max-width: 768px) {
  #logo1, #logo2, #logo3, #logo4, #logo5, #logo6 {
    max-height: 17vh; /* Reduz ainda mais a altura para telas menores */
  }

  .message {
    font-size: 2rem; /* Tamanho da fonte ajustado para telas menores */
  }
}

@media (max-width: 480px) {
  #logo1, #logo2, #logo3, #logo4, #logo5, #logo6 {
    max-height: 15vh; /* Reduz ainda mais para telas muito pequenas */
  }

  .message {
    font-size: 1.5rem; /* Ajuste da fonte para melhor legibilidade */
  }
}

/* Garantir que o fundo não seja cortado em dispositivos móveis */
.background {
  background-size: cover; /* Assegura que o fundo cubra toda a área visível */
  background-position: center; /* Centraliza o fundo */
}

